parameters:
    level: 6
    paths:
        - library

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Cannot cast mixed to string.#'
